{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for ('static',filename='img/12.jpg')}}')">
    <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1><p style="font-family:Times New Roman, Times, serif; color:darkorange">Admin Panel</h1>
              <span class="subheading">Manage your Posts</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <a href="/post"><button>Dashboard</button></a>
          <a href="/logout"><button>Log Out</button></a>
          <hr>



<h1>Add/Edit Posts</h1>
      <form name="sentMessage" id="contactForm" action = "/edit/{{sno}}" method="post" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="Title" id="Title" name="Title" value="{{post.Title}}" >
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Slug</label>
                <input type="text" class="form-control" placeholder="slug" id="slug" name="slug" value="{{post.slug}}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Content</label>
                <textarea rows="5" class="form-control" placeholder="Content" name = "Content" id="Content" > {{post.Content}}</textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Image</label>
                <input class="form-control" placeholder="Image" name = "img_file" id="img_file" value="{{post.img_file}}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
            </div>
          </form>


       
      </div>
    </div>
  </div>

 {% endblock %}